#countdown-wrap {
  width: 100%;
  height: 300px;
  //border: 1px solid black;
  padding: 20px;
  font-family: arial;
  max-width: 650px;
  margin: 150px auto 300px;
}


#goal {
  font-size: 48px;
  text-align: right;
  color: #FFF;
  @media only screen and (max-width : 640px) {
    text-align: center;  
  }
  
}

#glass {
  width: 100%;
  height: 20px;
  background: #c7c7c7;
  border-radius: 10px;
  float: left;
  overflow: hidden;
}

#progress {
  float: left;
  width: 16%;
  height: 20px;
  background: #FF5D50;
  z-index: 333;
  //border-radius: 5px;
}

.goal-stat {
  width: 25%;
  //height: 30px;
  padding: 10px;
  float: left;
  margin: 0;
  color: #FFF;
  
  @media only screen and (max-width : 640px) {
    width: 50%;
    text-align: center;
  }
}

.goal-number, .goal-label {
  display: block;
}

.goal-number {
  font-weight: bold;
}

    .jumbotron 
	{
		margin-bottom: 0;
    }
	
	body
	{

		height:100%;
		

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

	}
   
	#container
	{
		width:100%;
	}
	
	
	lb
	{
		float:right;
		height:24px;
		width:100%;
		text-align:right;
		
	}
	
	newsItem
	{
		font-size:10px;
	}
	h1
	{
		font-size:12px;
	}
	
	summaryOfnewsItem
	{
		font-size: 4px;
	}
	
	searchButton
	{
/* 		text-align: center;
		vertical-align: middle; */
	}
	
	input
	{
		width:100px;
	}
	
	.tablink 
	{
		background-color: #555;
		color: white;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		font-size: 17px;
		width: 25%;
	}