
	
	.sectorHeading
	{
		font-family: 'Fira Sans', sans-serif;
		
		color:white;

		text-align:center;
		font-size:5vw;
		width:100%;
	}
	.sectorSubHeading
	{
		font-family: 'Fira Sans', sans-serif;
		color:white;
		text-align:center;
		font-size:3vw;
		width:100%;
		
	}
	.object
	{
		color:black;
	}
	
	#sectorOne
	{
		background-image:url("/background.jpg");
	}
	
	
	#sectorTwo
	{
		background-image:url("/background2.jpg");
	}
	
	#container
	{
		padding:0px;
		height:100%;
	}
	
	
	body
	{
		height:100%;
		color:white;
		font-family: 'Fira Sans', sans-serif;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		
		padding-bottom:60px;

	}
	
	button
	{
		
	}
	
	.button {
    background-color: white; 
    color: black; 
	border-radius: 20px;

	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

	.button:hover {
		background-color: rgb(65,186,174);
	}
	
	.progress-bar
	{
		background-image:none;
		background-color: rgb(36,102,96);
	}
	.progress
	{
		width:70%;
		margin:auto;
		background-color: rgb(147,217,210);
	}
	
	
	#container
	{
		width:100%;
	}
	
	b
	{
		font-size:25px;
	}
	
	lb
	{
		float:right;
		height:24px;
		width:100%;
		text-align:right;
		
	}
	
	#newsItem
	{
		font-size:20px;
		background-color:black;
		 padding-top: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
	}
	
	summaryOfnewsItem
	{
		font-size: 15px;
	}

	
	input
	{
		color:black;
		
	}
	
	
	.box
	{
		font-family: 'Fira Sans', sans-serif;
		border-top-color:rgb(65,186,174);
		border-top-style:solid;
		padding:18px;
		border-top-width:3px;
		background-color:black; 
	}
	
	#donateBox
	{
		
		
		margin:0 auto;
		text-align:center;
	}
	
	#createUser
	{
		margin:0 auto;


		padding:15px;
	}
	
	input
	{
		width:100px;
	}
	
	.tablink 
	{
		background-color: #555;
		color: white;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		font-size: 17px;
		width: 25%;
	}